<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<main>
<!-- admin/admin-orders.html -->

<h2>Quản lý Đơn Hàng</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Address</th>
            <th>Create Date</th>
            <th>Status</th>
   
        </tr>
    </thead>
    <tbody>
        <!-- Duyệt qua danh sách đơn hàng -->
        <tr th:each="order : ${orders}">
            <!-- Mở một form cho mỗi đơn hàng -->
            <form th:action="@{/admin/orders/updateStatus}" th:object="${order}" method="post">
                <!-- Các ô thông tin của đơn hàng -->
                <td th:text="${order.id}"></td>
                <td th:text="${order.address}"></td>
                <td th:text="${order.createDate}"></td>
                <td th:text="${order.status}"></td>
                <td>
                	
                    <select th:value="*{status}">
                        <option value="Chờ xác nhận">Chờ xác nhận</option>
                        <option value="Đang giao">Đang giao</option>
                        <option value="Đã thanh toán">Đã thanh toán</option>
                        <option value="Hoàn thành">Hoàn thành</option>
                    </select>
                </td>
                <td>
                
                    <button  type="submit">Cập nhật</button>
    
                </td>
            </form>
            <!-- Đóng form cho mỗi đơn hàng -->
        </tr>
    </tbody>
</table>

</main>
</body>
</html>
