<!-- Một số phần HTML khác -->
<table class="table table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <!-- Thêm các cột khác nếu cần -->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in orderDetails">
            <td>{{ product.product_id }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.price}}</td>
            
            <!-- Thêm các cột khác nếu cần -->
        </tr>
        <tr ng-repeat="product in o">
        	<td>{{ product.quantity }}</td>
        </tr>
    </tbody>
</table>
<!-- Một số phần HTML khác -->
